{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Homepage{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="section-top-padding">
    </header>
    <img class="img-home center margin-bottom-10" src="{% static 'smartrest/img/ethereum.png' %}" alt="ethereum">
    <section class="background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Gestione dei contratti d’appalto tramite Smart Contract e Blockchain Ethereum</h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">
            <div class="margin2x">
                <div class="s-12 m-12 l-12 margin-bottom-30">
                    <p class="text-dark padding-2x margin-left-right text-center background-grey border-radius-2x text-size-20">
                        Questo è il prototipo di sito web realizzato in concomitanza alla scrittura della relazione del progetto Smart Contract.

                        Da qui è possibile effettuare le principali operazioni di gestione dei contratti di appalto e la visualizzazione e modifica dei principali documenti che lo compongono(<em>Libretto delle Misure, Registro di Contabilità, Stato Avanzamento Lavori, Giornale dei Lavori</em>).</br>

                        Si può accedere alle varie sezioni a seguito della registrazione, entrando nella propria area personale o facendo il Log-In se si è già registrati.

                        Esistono tre tipologie di utente, che sono descritte nella prossima sezione, ed è possibile effettuare operazioni diverse in base alla tipologia di appartenenza.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% if not user.is_authenticated %}
    <a class="text-more-info text-center text-primary text-s-size-20 text-l-size-20 text-xl-size-20 text-xxl-size-20" href="{% url 'login' %}">Log In</a>
    {% else %}
    <a class="text-more-info text-center text-primary text-s-size-20 text-l-size-20 text-xl-size-20 text-xxl-size-20" href="{% url 'contract_area' %}">Area Contratti</a>
    {% endif %}
    <hr class="break background-primary break-small break-center">
    <section class="padding-2x background-primary">
        <div class="line text-center">
            <h2 class="text-white text-size-50 text-m-size-40">Utenti</h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">
            <div class="margin2x">
                <div class="s-12 m-4 l-4 margin-bottom-30">
                    <div class="float-left">
                        <i class="icon-sli-user text-white text-size-40 text-line-height-1"></i>
                    </div>
                    <div class="margin-left-60">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Stazione Appaltante</h3>
                        <p>Questa tipologia di utente potrà eseguire le seguenti operazioni:</p>
                        <ul>
                            <li>Inserire un nuovo Contratto</li>
                            <li>Consultare il Libretto delle Misure</li>
                            <li>Approvare le misure nel Libretto</li>
                            <li>Consultare il Registro di Contabilità</li>
                            <li>Approvare le misure nel Registro</li>
                            <li>Consultare lo Stato Avanzamento Lavori</li>
                            <li>Consultare il Giornale dei Lavori</li>
                        </ul>
                    </div>
                </div>
                <div class="s-12 m-4 l-4 margin-bottom-60">
                    <div class="float-left">
                        <i class="icon-sli-user text-white text-size-40 text-line-height-1"></i>
                    </div>
                    <div class="margin-left-60">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Direttore Lavori</h3>
                        <p>Questa tipologia di utente potrà eseguire le seguenti operazioni:</p>
                        <ul>
                            <li>Inserire una nuova misura nel Libretto</li>
                            <li>Consultare il Libretto delle Misure</li>
                            <li>Consultare il Registro di Contabilità</li>
                            <li>Consultare lo Stato Avanzamento Lavori</li>
                            <li>Inserire una nuova voce nel Giornale</li>
                            <li>Consultare il Giornale dei Lavori</li>
                        </ul>
                    </div>
                </div>
                <div class="s-12 m-4 l-4 margin-bottom-60">
                    <div class="float-left">
                        <i class="icon-sli-user text-white text-size-40 text-line-height-1"></i>
                    </div>
                    <div class="margin-left-60">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Ditta Appaltatrice</h3>
                        <p>Questa tipologia di utente potrà eseguire le seguenti operazioni:</p>
                        <ul>
                            <li>Consultare il Libretto delle Misure</li>
                            <li>Consultare il Registro di Contabilità</li>
                            <li>Consultare lo Stato Avanzamento Lavori</li>
                            <li>Consultare il Giornale dei Lavori</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-2x background-white">
        <div class="line text-center">
            <i class="icon-sli-book-open text-primary text-size-40"></i>
            <h2 class="text-dark text-size-50 text-m-size-40">Documentazione</h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">
            <div class="margin2x">
                <div class="s-12 m-122 l-12 margin-bottom-20 text-center text-size-20 text-dark">
                    In questa sezione è possibile scaricare tutta la documentazione relativa la progetto.
                </div>
               <div class="line margin-bottom-50 text-center">
                    <div class="s-12 m-12 l-4">
                        <a target="_blank" href="{{MEDIA_URL}}documentation/Manuale_Installazione.pdf" class="button border-radius margin-top-bottom-5 background-primary text-white navbutton"><i class="icon-sli-doc upload-i text-strong"></i> Download Manuale Installazione</a>
                    </div>
                   <div class="s-12 m-12 l-4">
                        <a target="_blank" href="{{MEDIA_URL}}documentation/Manuale_Utente.pdf" class="button border-radius margin-top-bottom-5 background-primary text-white navbutton"><i class="icon-sli-doc upload-i text-strong"></i> Download Manuale Utente</a>
                    </div>
                   <div class="s-12 m-12 l-4">
                        <a target="_blank" href="{{MEDIA_URL}}documentation/Relazione.pdf" class="button border-radius margin-top-bottom-5 background-primary text-white navbutton"><i class="icon-sli-doc upload-i text-strong"></i> Download Relazione</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block js %}

{% endblock js %}