{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center head-colour">

    </header>

    <section class="padding-2x background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Registrazione</h2>
        </div>
    </section>

    <!-- REGISTRAZIONE Form -->

    <section>
        <div class="line">
            <div class="margin padding-2x">
                <div class="s-12 m-10 l-8 center background-grey padding">
                    <h3 class="text-size-30 margin-bottom-40 text-center"><b>Form di Registrazione</b></h3>
                    <form class="customform" method="post" enctype="multipart/form-data" action="{% url 'register' %}">{% csrf_token %}
                        <div class="line">
                            <div class="margin">
                                <div class="s-12 m-12 l-6">
                                    <input name="Nome" class="required" placeholder="Nome" title="Nome" type="text" />
                                </div>
                                <div class="s-12 m-12 l-6">
                                    <input name="Cognome" class="Cognome" placeholder="Cognome" title="Cognome" type="text" />
                                </div>
                                 <div class="s-12 m-12 l-6">
                                    <input name="email" class="email" placeholder="email" title="Email" type="text" />
                                </div>
                                  <div class="s-12 m-12 l-6">
                                      <select name="cars" required>
                                          <option value="">Scegliere una delle seguenti opzioni</option>
                                          <option value="volvo">Stazione Appaltante</option>
                                          <option value="saab">Direttore Dei Lavori</option>
                                          <option value="fiat">Impresa Appaltatrice</option>
                                      </select>
                                </div>

                                <div class="s-12 m-12 l-6">
                                    <input name="Indirizzo" class="Indirizzo" placeholder="Indirizzo" title="Indirizzo" type="text" />
                                </div>

                                <div class="s-12 m-12 l-6">
                                    <input name="username" class="required" placeholder="Username" title="Username" type="text" />
                                </div>
                                <div class="s-12 m-12 l-6">
                                    <input name="password" class="required" placeholder="Password" title="Password" type="password" />
                                </div>
                                <div class="s-12 m-12 l-6">
                                    <input name="conferma_password" class="required" placeholder="Conferma Password" title="Password" type="password" />
                                </div>


                            </div>
                        </div>
                        {% if form.errors %}
                        <div class="line">
                            <p class="s-6 m-6 l-6 text-error">Lo username o la password sono sbagliati. Inseriscili di nuovo.</p>
                        </div>
                        {% endif %}
                        <div class="line">
                            <div class="s-6 center">
                                <button class="button border-radius text-white background-primary" type="submit" value="login">Registrati</button>
                                <button class="button border-radius text-white background-primary" type="reset" value="login">Cancella</button>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}

{% block js %}

{% endblock js %}