<div class="margin-s-left-0 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-right-20 margin-s-right-0">
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center">Registro di Contabilità</h3>
    <div id="table-scroll">
        <table>
            <tr>
                <td class="text-strong">Contratto</td>
                <td class="text-strong">Codice di Tariffa</td>
                <td class="text-strong">Data</td>
                <td class="text-strong">Indicazione dei Lavori e delle Somministrazioni</td>
                <td class="text-strong">Positivi</td>
                <td class="text-strong">Negativi</td>
                <td class="text-strong">Prezzo Unitario</td>
                <td class="text-strong">Debito</td>
                <td class="text-strong">Aliquota</td>
                <td class="text-strong">Pagamento</td>
            </tr>
            {% if not misure_aggregate %}
            <tr class="text-center">
                <td colspan="10">Nessuna misura presente nel registro</td>
            </tr>
            {% endif %}
            {% for misura in misure_aggregate|dictsort:'Contratto' %}
            <tr>
                <td>{{ misura.Contratto_Nome }}</td>
                <td>{{ misura.Codice_Tariffa }}</td>
                <td>{{ misura.latest_date }}</td>
                <td>{{ misura.Lavoro_Nome }} </br></br>{{ misura.Lavoro_Descrizione }}</td>
                <td>{{ misura.Somma_Positivi }}</td>
                <td>{{ misura.Somma_Negativi }}</td>
                <td>{{ misura.Prezzo_Unitario }}</td>
                <td class="background-error">{{ misura.Debito }}</td>
                <td>{{ misura.Aliquota }}</td>
                <td class="{{ misura.Contratto }} background-green"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>