{% extends "base.html" %}
{% load groups_extra %}

{% block title %}{{ block.super }} - Area Contratti{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center head-colour">

    </header>

    <section class="padding-2x background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Area Contratti</h2>
        </div>
    </section>

    {% if request.user|has_group:"DirettoreLavori" %}

    <!-- Sezione Area Contratti Direttore -->

    <section class="padding-2x">
        <div class="line">
            <div class="margin">
                <div class="menucol s-12 m-3 l-3 xl-3 xxl-3 margin-bottom-50 float-left">
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">Menù Direttore Lavori</p>
                        <ul>
                            <li class="minimize hidden"><span class="minimizespan">Nascondi</span> <i class="icon-sli-arrow-down text-strong text-dark text-size-10"></i></li>
                            <li>Lista Attività</li>
                            <ul>
                                <li id="libretto"><a href="">Libretto delle Misure</a></li>
                                <li id="avanzamento"><a href="">Stato Avanzamento Lavori</a></li>
                                <li id="registro"><a href="">Registro Contabilità</a></li>
                                <li id="giornale"><a href="">Giornale dei Lavori</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="contentcol s-12 m-9 l-9 xl-9 xxl-9 float-right">
                    {% block pannello_direttore %}
                    <div class="margin-s-left-10 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80">
                        <p>
                            Usa il pannello di navigazione laterale per scegliere l'operazione da eseguire.
                        </p>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    {% elif request.user|has_group:"DittaAppaltatrice" %}

    <!-- Sezione Area Contratti Ditta Appaltatrice -->

    <section class="padding-2x">
        <div class="line">
            <div class="margin">
                <div class="menucol s-12 m-3 l-3 xl-3 xxl-3 margin-bottom-50 float-left">
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">Menù Ditta Appaltatrice</p>
                        <ul>
                            <li class="minimize hidden"><span class="minimizespan">Nascondi</span> <i class="icon-sli-arrow-down text-strong text-dark text-size-10"></i></li>
                            <li>Lista Attività</li>
                            <ul>
                                <li id="libretto_ditta"><a href="">Libretto delle Misure</a></li>
                                <li id="registro_ditta"><a href="">Registro Contabilità</a></li>
                                <li id="giornale_ditta"><a href="">Giornale dei Lavori</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="contentcol s-12 m-9 l-9 xl-9 xxl-9 float-right">
                    {% block pannello_ditta %}
                    <div class="margin-s-left-10 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-bottom-20">
                        <p>
                            Usa il pannello di navigazione laterale per scegliere l'operazione da eseguire.
                        </p>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    {% elif request.user|has_group:"StazioneAppaltante" %}

    <!-- Sezione Area Contratti Stazione Appaltante -->

    <section class="padding-2x">
        <div class="line">
            <div class="margin">
                <div class="menucol s-12 m-3 l-3 xl-3 xxl-3 margin-bottom-50 float-left">
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">Menu Stazione Appaltante</p>
                        <ul>
                            <li class="minimize hidden"><span class="minimizespan">Nascondi</span> <i class="icon-sli-arrow-down text-strong text-dark text-size-10"></i></li>
                            <li>Lista Attività</li>
                            <ul>
                                <li id="new_project"><a href="">Nuovo Contratto</a></li>
                                <li id="libretto_stazione"><a href="">Libretto delle Misure</a></li>
                                <li id="avanzamento_stazione"><a href="">Stato Avanzamento Lavori</a></li>
                                <li id="registro_stazione"><a href="">Registro Contabilità</a></li>
                                <li id="giornale_stazione"><a href="">Giornale dei Lavori</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="contentcol s-12 m-9 l-9 xl-9 xxl-9 float-right">
                    {% block pannello_stazione %}
                    <div class="margin-s-left-10 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-bottom-20">
                        <p>
                            Usa il pannello di navigazione laterale per scegliere l'operazione da eseguire.
                        </p>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    {% endif %}

    {% if request.user.is_staff %}

    <!-- Redirect dell'Admin -->

    <meta http-equiv="REFRESH" content="0;url=/admin">

    {% endif %}

</main>

<a href="#" id="backTop"><i class="icon-sli-arrow-up-circle text-strong text-error"></i></a>

{% endblock content %}

{% block js %}

<script type="text/javascript">
    $(function(){
        $('.aside-nav a').filter(function(){return this.href==location.href}).parent().addClass('aside-active-item text-white').siblings().removeClass('aside-active-item text-white')
        $('.aside-nav a').click(function(){
            $(this).parent().addClass('aside-active-item text-white').siblings().removeClass('aside-active-item text-white')
        })
    })
    $( document ).ready(function() {
        $('#linkCN, #linkPF, #linkPS').hide(0);
        $('.left-menu li:nth-child(4)').addClass('active-item')

        //minimize menu function
        $('.minimize').click(function(){
            minimizeMenu();
        });

        if ($('#backTop').length) {
            var scrollTrigger = 500, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    var docHeight = $(document).height();
                    var windowHeight = $(window).height();
                    var scrollTriggerDoc = 100;
                     if (scrollTop > scrollTriggerDoc) {
                        $('#linkCN, #linkPF, #linkPS').show(400);
                    } else {
                        $('#linkCN, #linkPF, #linkPS').hide(400);
                    }
                    if (scrollTop > scrollTrigger) {
                        $('#backTop').show(400);
                    } else {
                        $('#backTop').hide(400);
                    }
                    if (scrollTop < scrollTrigger-50) {
                        if (!$('.minimize').hasClass('minimizefixed') && $('.minimizespan').text() == "Show") {
                            $('.minimize').trigger("click");
                        }
                    }
                    if (scrollTop > scrollTrigger && (docHeight - (scrollTop + windowHeight)) > 600) {
                        if (!$('.minimize').hasClass('minimizefixed') && $('.minimizespan').text() != "Show") {
                            $('.minimize').trigger("click");
                        }
                        $('.minimize').addClass('minimizefixed');
                    } else {
                        $('.minimize').removeClass('minimizefixed');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#backTop').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 100
                }, 700);
            });
        }
    });

    //funzione usata per minimizzare il menu
    var minimizeMenu = function(){
        $('.menucol').toggle(550);
        $('.contentcol').toggleClass('m-9 l-9 xl-9 xxl-9 m-12 l-12 xl-12 xxl-12', 500);
        $('.aside-nav ul li:not(.minimize)').fadeToggle(500);

        var text = $('.minimizespan').text();
        $('.minimizespan').text(text == 'Nascondi' ? 'Mostra' : 'Nascondi');
        $('.minimize i').toggleClass('icon-sli-arrow-down icon-sli-arrow-right');
    }
</script>

{% endblock js %}