{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Giornale Lavori{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_direttore %}

{% include "contract_area/blocco_giornale_lavori.html" %}

{% endblock pannello_direttore %}

{% block pannello_ditta %}

{% include "contract_area/blocco_giornale_lavori.html" %}

{% endblock pannello_ditta %}

{% block pannello_stazione %}

{% include "contract_area/blocco_giornale_lavori.html" %}

{% endblock pannello_stazione %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">
    $( document ).ready(function() {
        $("#id_contratto_sel option[value={{ context.contratto }}]").prop("selected", "selected");
    });
</script>

{% endblock js %}