{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Libretto Misure{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_direttore %}

{% include "contract_area/blocco_libretto.html" %}

{% endblock pannello_direttore %}

{% block pannello_ditta %}

{% include "contract_area/blocco_libretto.html" %}

{% endblock pannello_ditta %}

{% block pannello_stazione %}

<div class="margin-s-left-0 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-right-20 margin-s-right-0">
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 margin-top-30 text-center">Libretto delle Misure</h3>
    <form id="form1" method="POST" enctype="multipart/form-data" class="post-form customform width65 float-left" action="{% url 'libretto_misure' %}">{% csrf_token %}
        <table class="row-override">
             <tr>
                 <td valign="bottom">
                     <label for="id_contratto_sel">Seleziona Contratto:</label>
                     <select id="id_contratto_sel" name="Contratto">
                         <option value="all">---</option>
                         {% for contratto in contratti %}
                         <option value="{{ contratto.id }}">{{ contratto.Nome }}</option>
                         {% endfor %}
                     </select>
                 </td>
                 <td valign="bottom">
                     <label for="id_lavoro_sel">Seleziona Lavoro:</label>
                     <select id="id_lavoro_sel" name="Lavoro">
                         <option value="all">---</option>
                         {% for lavoro in lavori %}
                         <option value="{{ lavoro.id }}">{{ lavoro.Nome }}</option>
                         {% endfor %}
                     </select>
                 </td>
                 <td valign="bottom">
                     <label for="id_stato_sel">Seleziona Stato:</label>
                     <select id="id_stato_sel" name="Stato">
                         <option value="all">---</option>
                         <option value="INSERITO_LIBRETTO">Inserita nel Libretto</option>
                         <option value="INSERITO_LIBRETTO_RISERVA">Inserita nel Libretto con Riserva</option>
                         <option value="CONFERMATO_LIBRETTO">Confermata nel Libretto</option>
                         <option value="CONFERMATO_REGISTRO">Confermata nel Registro di Contabilità</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <td colspan="3">
                      <button id="sel_contratto" type="submit" class="button border-radius background-primary text-white margin-top-10 navbutton">Filtra Misure</button>
                 </td>
             </tr>
        </table>
    </form>
    <table class="width35 float-right">
        <tr>
            <td>
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 margin-top-20 text-center">Approva Misure</h3>
                <p id="messaggi_ajax_2" class="hidden text-dark background-error border-radius margin-bottom-20">

                </p>
                <form id="form2" method="POST" enctype="multipart/form-data" class="post-form customform" action="{% url 'libretto_misure' %}">{% csrf_token %}
                    <input type="hidden" name="Approva" value="Approva" id="id_Approva">
                    <button id="approva" type="submit" class="button border-radius background-primary text-white margin-top-10 ">Approva le misure</button>
                </form>
            </td>
        </tr>
    </table>
     <table>
        <tr>
            <td class="text-strong">Codice di Tariffa</td>
            <td class="text-strong">Data</td>
            <td class="text-strong">Designazione dei Lavori</td>
            <td class="text-strong">Parti Uguali</td>
            <td class="text-strong">Larghezza</td>
            <td class="text-strong">Lunghezza</td>
            <td class="text-strong">Altezza/Peso</td>
            <td class="text-strong">Positivi</td>
            <td class="text-strong">Negativi</td>
            <td class="text-strong">Riserva</td>
            <td class="text-strong">Annotazioni</td>
            <td class="text-strong">Stato</td>
        </tr>
        {% for misura in misure %}
        <tr>
            <td>
                {{ misura.Codice_Tariffa }}
            </td>
            <td>
                {{ misura.Data }}
            </td>
            <td>
                {{ misura.Designazione_Lavori }}
            </td>
            <td>
                {{ misura.Parti_Uguali }}
            </td>
            <td>
                {{ misura.Larghezza }}
            </td>
            <td>
                {{ misura.Lunghezza }}
            </td>
            <td>
                {{ misura.Altezza_Peso }}
            </td>
            <td>
                {{ misura.Positivi }}
            </td>
            <td>
                {{ misura.Negativi }}
            </td>
            <td>
                {{ misura.Riserva }}
            </td>
            <td>
                {{ misura.Annotazioni }}
            </td>
            <td>
                {{ misura.Stato }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock pannello_stazione %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">
    $( document ).ready(function() {
        $("#id_contratto_sel option[value={{ context.contratto }}]").prop("selected", "selected");
        $("#id_lavoro_sel option[value={{ context.lavoro }}]").prop("selected", "selected");
        $("#id_stato_sel option[value={{ context.stato }}]").prop("selected", "selected");
    });
</script>

{% endblock js %}