{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Nuovo Contratto Redirect{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_stazione %}

<div class="margin-s-left-0 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-right-20 margin-s-right-0">
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-primary">Nuovo Contratto Inserito Correttamente</h3>
    <p>
        Usa il menù laterale per eseguire una nuova operazione.
    </p>
</div>

{% endblock pannello_stazione %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">

</script>

{% endblock js %}