{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Inserisci Misure{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_direttore %}

<div class="margin-s-left-0 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-right-20 margin-s-right-0">
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center">Inserisci Nuova Misura</h3>
    <p id="messaggi_ajax" class="hidden text-dark background-error border-radius margin-bottom-20">

    </p>
    <form id="form1" method="POST" enctype="multipart/form-data" class="post-form customform" action="">{% csrf_token %}
        <label for="id_contratto_sel">Seleziona Contratto:</label>
        <select id="id_contratto_sel" name="Contratto" class="required" required>
            <option value="">---</option>
            {% for contratto in contratti %}
            <option value="{{ contratto.id }}">{{ contratto.Nome }}</option>
            {% endfor %}
        </select><br/>
        <button id="sel_contratto" type="submit" class="button border-radius background-primary text-white margin-top-10 navbutton">Seleziona Contratto</button>
    </form>
    <form id="form2" method="POST" enctype="multipart/form-data" class="post-form customform hidden" action="">{% csrf_token %}
        <p class="text-error">
            * I campi segnati in rosso sulla sinistra sono obbligatori.
        </p>
        <table class="row-override">
            <tr>
                <td>
                    {{ form.Lavoro.errors }}
                    {{ form.Lavoro.label_tag }} {{ form.Lavoro }}
                    {{ form.Data.errors }}
                    {{ form.Data.label_tag }} {{ form.Data }}
                    </td>
                <td>
                    {{ form.Designazione_Lavori.errors }}
                    {{ form.Designazione_Lavori.label_tag }} {{ form.Designazione_Lavori }}
                </td>
            </tr>
            <tr>
                <td>
                 <h4 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center">Dimensioni</h4>
                    {{ form.Parti_Uguali.errors }}
                    {{ form.Parti_Uguali.label_tag }} {{ form.Parti_Uguali }}
                    {{ form.Larghezza.errors }}
                    {{ form.Larghezza.label_tag }} {{ form.Larghezza }}
                    {{ form.Lunghezza.errors }}
                    {{ form.Lunghezza.label_tag }} {{ form.Lunghezza }}
                    {{ form.Altezza_Peso.errors }}
                    {{ form.Altezza_Peso.label_tag }} {{ form.Altezza_Peso }}
                </td>
                <td>
                    <h4 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center">Quantità/Percentuale</h4>
                    <p id="misure_rimanenti"></p>
                    {{ form.Positivi.errors }}
                    {{ form.Positivi.label_tag }} {{ form.Positivi }}
                    {{ form.Negativi.errors }}
                    {{ form.Negativi.label_tag }} {{ form.Negativi }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.Riserva.errors }}
                    {{ form.Riserva.label_tag }} {{ form.Riserva }}
                </td>
                <td>
                    {{ form.Annotazioni.errors }}
                    {{ form.Annotazioni.label_tag }} {{ form.Annotazioni }}
                </td>
            </tr>
            <tr class="hidden">
                <td>
                    {{ form.Codice_Tariffa }}
                    {{ form.Stato }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="form2_button" type="submit" class="button border-radius background-primary text-white navbutton">Inserisci e Continua</button>
                    <button id="form2_button_2" type="submit" class="button border-radius background-primary text-white navbutton">Inserisci e Termina</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock pannello_direttore %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">

    $( document ).ready(function() {

        //quando si invia il primo form al server tramite la chiamata ajax si mostra il form per inserire la misura del contratto selezionato
        $('#form1').submit(function(e){
            e.preventDefault();
            var fd = $('#form1').serialize();

            $.ajax({
                url : "{% url 'nuova_misura' %}", // the endpoint
                type : "POST", // http method
                data : fd, // inviamo il contratto selezionato al server
                dataType: 'json',
                success : function(json) {
                    var lavori = json["lavori"];

                    if(lavori != "Errore"){
                        $('#form2').show();
                        $("#id_Lavoro").find('option').remove().end();
                        $("#id_Lavoro").append('<option value='+""+'>---</option>');
                        $.each(lavori, function(key, value){
                            $("#id_Lavoro").append('<option value=' + value["id"] + '>' + value["Nome"] + '</option>');
                        });
                    } else {
                        $('#messaggi_ajax').show().text("Errore: controllare i dati inseriti.").addClass('background-error').removeClass('background-green');
                    }
                },

                error : function err() {
                    $('#messaggi_ajax').show().text("Errore: server non raggiungibile, riprovare più tardi.").addClass('background-error').removeClass('background-green');
                }
            });
        });

        //quando si invia il secondo form al server tramite la chiamata ajax si svuota il form per inserire una nuova misura o si termina l'inserimento
        $('#form2_button').click(function(event){
            event.preventDefault();
            check_form2(true);
        });

        $('#form2_button_2').click(function(event){
            event.preventDefault();
            check_form2(false);
        });

        function check_form2(nuova_misura){
            var fd = $('#form2').serialize();

            $.ajax({
                url : "{% url 'nuova_misura' %}", // the endpoint
                type : "POST", // http method
                data : fd, // inviamo i dati del form al server
                dataType: 'json',
                success : function(json) {
                    if(json["misura"]=="Successo_2"){
                        if (nuova_misura){
                            $('#messaggi_ajax').show().text("Misura inserita correttamente.").addClass('background-green').removeClass('background-error');
                            $('#form2')[0].reset();
                            $('#misure_rimanenti').show().text("");
                            $("html, body").stop().animate({scrollTop: $("#notification-box").offset().top }, 500, 'swing');
                        } else {
                            window.location='{% url 'nuova_misura_redirect' %}'
                        }
                    } else if (json["percentuale"]=="Errore_Percentuale") {
                        $('#messaggi_ajax').show().text("Errore: la percentauale inserita supera la percentuale di lavoro rimanente da misurare che ammonta a " + json["percentuale_rimanente"] + "%.").addClass('background-error').removeClass('background-green');
                    } else if (json["elementi"]=="Errore_Elementi") {
                        $('#messaggi_ajax').show().text("Errore: il numero di elementi misurati supera quelli rimanenti da misurare che ammontano a " + json["elementi_rimanenti"] + ".").addClass('background-error').removeClass('background-green');
                    } else if (json["misura"]=="Errore_Positivi") {
                        $('#messaggi_ajax').show().text("Errore: inserire nel campo positivi un valore diverso da 0.").addClass('background-error').removeClass('background-green');
                    } else {
                        $('#messaggi_ajax').show().text("Errore: controllare i dati inseriti.").addClass('background-error').removeClass('background-green');
                    }
                    $("html, body").stop().animate({scrollTop: $("#notification-box").offset().top }, 500, 'swing');
                },

                error : function err() {
                    $('#messaggi_ajax').show().text("Errore: server non raggiungibile, riprovare più tardi.").addClass('background-error').removeClass('background-green');
                }
            });
        };

        $("#id_Lavoro").change(function(){
            lavoro = $('#id_Lavoro option:selected').val();
            console.log(lavoro);
            $.ajax({
                url : "{% url 'nuova_misura' %}", // the endpoint
                type : "GET", // http method
                data : {"lavoro": lavoro}, // inviamo il lavoro selezionato al server
                dataType: 'json',
                success : function(json) {
                    $('#misure_rimanenti').show().text("Misure mancanti per completare il lavoro: " + json["misure_rimanenti"]).addClass('background-green');
                },

                error : function err() {
                    $('#messaggi_ajax').show().text("Errore: server non raggiungibile, riprovare più tardi.").addClass('background-error').removeClass('background-green');
                }
            });
        });

        //datepickers function
        $( function() {
            $( "#id_Data" ).datepicker({
                changeYear: true,
                changeMonth: true,
                showAnim: "fadeIn",
                yearRange: "2019:2050",
                dateFormat: "yy-mm-dd"
            });
        });

    });

</script>

{% endblock js %}