{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Nuovo Contratto{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_stazione %}

<div class="margin-s-left-0 margin-m-left-30 margin-l-left-50 margin-xl-left-60 margin-left-80 margin-right-20 margin-s-right-0">
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center form1">Inserisci Nuovo Contratto</h3>
    <h4 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-center form2 hidden">Inserisci Nuovo Lavoro</h4>
    <p id="messaggi_ajax" class="hidden text-dark background-error border-radius margin-bottom-20">

    </p>
    <p class="text-error">
        * I campi segnati in rosso sulla sinistra sono obbligatori.
    </p>
    <form id="form1" method="POST" enctype="multipart/form-data" class="post-form customform form1" action="">{% csrf_token %}
        <table class="row-override">
            <tr>
                <td>
                    {{form.as_p}}
                </td>
            <tr>
                <td colspan="2">
                    <button id="form1_button" type="submit" class="button border-radius background-primary text-white navbutton">Inserisci Contratto</button>
                </td>
            </tr>
        </table>
    </form>
    <form id="form2" method="POST" enctype="multipart/form-data" class="post-form customform form2 hidden" action="">{% csrf_token %}
        <table class="row-override">
            <tr>
                <td>
                    {{form2.as_p}}
                </td>
            <tr>
                <td colspan="2">
                    <button id="form2_button" type="submit" class="button border-radius background-primary text-white navbutton">Inserisci e Continua</button>
                    <button id="form2_button_2" type="submit" class="button border-radius background-primary text-white navbutton">Inserisci e Termina</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock pannello_stazione %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">

    $( document ).ready(function() {

        //quando si invia il primo form al server tramite la chiamata ajax si verifica la correttezza e si visualizza la seconda parte
        $('#form1').submit(function(e){
            e.preventDefault();
            var fd = $('#form1').serialize();

            $.ajax({
                url : "{% url 'nuovo_contratto' %}", // the endpoint
                type : "POST", // http method
                data : fd, // inviamo i dati del form al server
                dataType: 'json',
                success : function(json) {
                    if(json["msg"]=="Successo_1"){
                        $('#messaggi_ajax').show().text("Contratto inserito correttamente.").addClass('background-green').removeClass('background-error');
                        $('.form1').hide();
                        $('.form2').show();
                        $('#form2').find('#id_Contratto').val(json["contratto"]);
                    } else {
                        $('#messaggi_ajax').show().text("Errore: controllare i dati inseriti.").addClass('background-error').removeClass('background-green');
                    }
                },

                error : function err() {
                    $('#messaggi_ajax').show().text("Errore: server non raggiungibile, riprovare più tardi.").addClass('background-error').removeClass('background-green');
                }
            });
        });

        //quando si invia il secondo form al server tramite la chiamata ajax si svuota il form per inserire un nuovo lavoro o si termina l'inserimento
        $('#form2_button').click(function(event){
            event.preventDefault();
            check_form2(true);
        });

        $('#form2_button_2').click(function(event){
            event.preventDefault();
            check_form2(false);
        });

        function check_form2(nuovo_lavoro){
            var fd = $('#form2').serialize();

            $.ajax({
                url : "{% url 'nuovo_contratto' %}", // the endpoint
                type : "POST", // http method
                data : fd, // inviamo i dati del form al server
                dataType: 'json',
                success : function(json) {
                    if(json["msg"]=="Successo_2"){
                        if (nuovo_lavoro){
                            $('#messaggi_ajax').show().text("Lavoro inserito correttamente.").addClass('background-green').removeClass('background-error');
                            $('#form2')[0].reset();
                            $('#form2').find('#id_Contratto').text(json["contratto"]);
                        } else {
                            window.location='{% url 'nuovo_contratto_redirect' %}'
                        }
                    } else {
                        $('#messaggi_ajax').show().text("Errore: controllare i dati inseriti.").addClass('background-error').removeClass('background-green');
                    }
                },

                error : function err() {
                    $('#messaggi_ajax').show().text("Errore: server non raggiungibile, riprovare più tardi.").addClass('background-error').removeClass('background-green');
                }
            });
        };

    });

</script>

{% endblock js %}