{% extends "contract_area/contract_area.html" %}

{% block title %}Smart Contract - Registro Contabilità{% endblock title %}

{% block css %}

{% endblock css %}

{% block pannello_direttore %}

{% include "contract_area/blocco_registro.html" %}

{% endblock pannello_direttore %}

{% block pannello_ditta %}

{% include "contract_area/blocco_registro.html" %}

{% endblock pannello_ditta %}

{% block pannello_stazione %}

{% include "contract_area/blocco_registro.html" %}

<div>
    <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 margin-top-20 text-center">Approva Misure nel Registro</h3>
    <form id="form1" method="POST" enctype="multipart/form-data" class="post-form customform" action="{% url 'registro_cont' %}">{% csrf_token %}
        <input type="hidden" name="Approva" value="Approva" id="id_Approva">
        <button id="approva" type="submit" class="button border-radius background-primary text-white margin-top-10 navbutton center">Approva le misure</button>
    </form>
</div>

{% endblock pannello_stazione %}

{% block js %}

{{ block.super }}  <!--contract_area.html js import-->

<script type="text/javascript">

    $( document ).ready(function() {
        {% for contratto in contratti %}
        $(function() {
          $('table').each(function() {
            var rowspan = $(this).find('td.{{ contratto.id }}').length;
            if( rowspan > 1 ) {
              $(this).find('td.{{ contratto.id }}:first').attr('rowspan', rowspan);
              $(this).find('td.{{ contratto.id }}:not(:first)').remove();
            }
          });
        });
        $('td.{{ contratto.id }}').text("{{ contratto.Pagamento }}");
        {% endfor %}
    });
</script>

{% endblock js %}